 <footer class=""  >
      <div class='footerMainDiv'>
 <div class="iconsDiv">
        <a href="https://www.facebook.com/share/1BZoxoGPTQ/" class="social-Icon" target="_blank"><i class="fa-brands fa-square-facebook facebook "></i></a>
        <a href="www.linkedin.com/in/sumit-kumar-sah-6586a1369" class="social-Icon" target="_blank"><i class="fa-brands fa-square-linkedin linkedin"></i></a>
        <a href="https://x.com/Sumit_Kumar2618" class="social-Icon" target="_blank"><i class="fa-brands fa-square-x-twitter twitter"></i></a>
        <a href="https://github.com/SumitKumar-21" class="social-Icon" target="_blank"><i class="fa-brands fa-github github"></i></a>
    </div >
        <span class="text">&copy; find-stay 2026  </span>
          <span class="text">Made By NIT Warangal student with ❤️ for everyone  </span>

      </div>
</footer>