<nav
  class="navbar navbar-expand-lg navbar-light bg-white border-bottom sticky-top"
>
  <div class="container-fluid m-3 mt-0 mb-1">
    <a
      class="navbar-brand d-flex align-items-center gap-2 fw-semibold fs-3"
      style="text-align: center; color: brown"
      href="/"
    >
      <img
        src="/images/logo.png"
        alt="Logo"
        width="44"
        height="34"
        class="d-inline-block align-text-top"
      />
      Passion Gallery
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMain"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMain">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <li class="nav-item">
          <a class="nav-link fs-5" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/showall">Show Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" href="/showall/new">Add New </a>
        </li>
      </ul>
    </div>
   <div class="d-flex align-items-center gap-2">
  <% if (user) { %>
    <a href="/showall/logout" class="btn btn-outline-dark">Logout</a>
  <% } else { %>
    <a href="/login" class="btn btn-outline-dark">Login</a>
    <a href="/signup" class="btn btn-dark">Sign Up</a>
  <% } %>
</div>

  </div>
</nav>

<!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" fdprocessedid="wscz6o">Search</button>
          </form> -->


          <!-- <form action="/login">
        <button  class="btn btn-light ms-5">
          Login
        </button>
      </form>
    
      <div class="column">
      <form action="/signup">
        <button class="btn btn-primary">Sign Up</button>
      </form> -->
