<% layout('/layouts/boilerplate') %>
<body>
    <header >
        <form action="/showall/btn">
            <button class="show-gallery btn btn-dark offset-0.1  mt-4" >Show Lists</button>
        </form>
    </header>
    
</body>
