<% layout('/layouts/boilerplate') %>
<a class="btn btn-dark ms-0 mt-1" href="/showall" role="button">
  <i class="fa-solid fa-arrow-left bg-transparent fs-6 me-1"></i>
  Back
</a>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class=" border border-dark p-4 rounded-3 shadow w-50 text-center">
<h1>Sign Up </h1>
    <form action="/signup" method="post"  class="needs-validation" novalidate>
     <div class="mb-3 row">
    <label  class="form-label col-sm-3 text-end" >Username</label>
    <div class="col-sm-9">
<input class="form-control" type="text"  aria-label="default input example" name="username" placeholder="should be unique" required>
<div class="invalid-feedback">Username is required </div>
    </div>

  </div>
  
  <div class="mb-3 row">
    <label  class="form-label col-sm-3 text-end">Email</label>
    <div class="col-sm-9">
<input class="form-control" type="email"  aria-label="default input example" name="email" placeholder="abc@gmail.com" required>
<div class="invalid-feedback">⚠️Missing</div> 
    </div>
  </div>
  <div class="mb-3 row ">

    <label  class="form-label col-sm-3 text-end">Password</label>
    <div class="col-sm-9">
   <input class="form-control" type="password"  aria-label="default input example" name="password" placeholder="minimum of 8 characters" required> 
    </div>
  </div>
  <button class="btn btn-primary">Sign Up </button>
</form>
    </div>
 
  </div>
   


