<% layout('/layouts/boilerplate') %>

<body>
    <h1>Fill the void space and submit to add new </h1>
    <form action="/showall/new" method="post"  class="needs-validation" novalidate enctype="multipart/form-data">
     <div class="mb-3">
    <label  class="form-label" >Title</label>
<input class="form-control" type="text"  aria-label="default input example" name="listing[title]" required>
<div class="valid-feedback">Looks Good!</div>
<div class="invalid-feedback">Title is most required⚠️</div>
  </div>
 <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="listing[description]" required></textarea>
  <div class="valid-feedback">Looks Good!</div>
<div class="invalid-feedback">Description required⚠️</div>
</div>
  <div class="mb-3">
    <label for="exampleInputText1" class="form-label">upload image</label>
    <input type="file" class="form-control" name="listing[Image]"  id="exampleInputText1" required>
    <div class="valid-feedback">Looks Good!</div>
<div class="invalid-feedback">⚠️</div>
  </div>
  <div class="mb-3">
    <label class="form-label">Price</label>
    <input class="form-control" type="text"  aria-label="default input example" name="listing[price]" required> 
    <div class="valid-feedback">Looks Good!</div>
<div class="invalid-feedback">⚠️Should be valid </div>
  </div>
  <div class="mb-3">
    <label  class="form-label">Location</label>
   <input class="form-control" type="text"  aria-label="default input example" name="listing[location]" required>
   <div class="valid-feedback">Looks Good!</div>
<div class="invalid-feedback">⚠️Missing</div> 
  </div>
  <div class="mb-3">
    <label  class="form-label">Country</label>
   <input class="form-control" type="text"  aria-label="default input example" name="listing[country]" required> 
   <div class="valid-feedback">Looks Good!</div>
<div class="invalid-feedback">Missing⚠️</div>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
    
</body>

